{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	How It Works
{% endblock %}


{% block content %}
    <div class="widewrapper weak-highlight">
    	<div class="container content">
    		<br><br>
    		<div class="span9">
    			<div class="thumbnail">
    				<hr><h2 align="center">How It Works</h2><hr>
    					<p align="center"> <span class="bignum">Search<span> </p>
    					<h3 align="center">If you know what you are looking for, use the search box to find it.</h3>
    					<p align="center"><img src="/media/search2.png"></p>
    					<br>
    					<p align="center"> <span class="bignum">Browse<span> </p>
    					<h3 align="center">Or browse the site using the filters on the home page.</h3>
    					<p align="center"><img src="/media/browse1.png"></p>
    					<p align="center"><img src="/media/browse2.png"></p>
    					<br>
    					<p align="center"> <span class="bignum">Upvote</span> </p>
    					<h3 align="center">Upvote recipes you like.</h3>
    					<p align="center"><img src="/media/upvoted.png"></p>
    					<br>
    					<p align="center"> <span class="bignum">View Upvote History</span> </p>
    					<h3 align="center">Track all the recipes you upvote via your profile page. </h3>
    					<p align="center"><img src="/media/profile2.png"></p>
    					<br>
    					<p align="center"> <span class="bignum">Post Recipes</span> </p>
    					<h3 align="center">Post links to recipes you like and recipes you own.</h3>
    					<p align="center"><img src="/media/post1.png"></p>
    					<p align="center"><img src="/media/post2.png"></p>
    					<br>
    					<p align="center"> <span class="bignum">Comment on Recipes</span> </p>
    					<h3 align="center">Write comments on recipe pages.</h3>
    					<p align="center"><img src="/media/comments.png"></p>
    					<br>
    					<p align="center"> <span class="bignum">Order Recipe Ingredients (coming soon)</span> </p>
    					<h3 align="center">And very soon you'll be able to order all the ingredients you need directly from the site.</h3>
    				</ol>
    			</div>
    		</div>
    	</div>
    </div>

{% endblock %}